.container {
  width: 90%;
  margin: auto;
  text-align: center;
}
.peopleContainer {
  display: block;
  width: 100%;
  margin-top:35px;
}
.textField{
  max-width: 300px;
  margin-top: 40px;
  display: inline-block;
}
.searchBtn {
  margin-top: 40px;
}